<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <img src="img/chaton1.jpeg" class="Chaton1" alt="Chaton trop chou">

    <img src="img/chaton2.jpeg" class="Chaton2" alt="Chaton trop chou">
    <img src="img/chaton1.jpeg" class="Chaton3" alt="Chaton trop chou">

    <blockquote class="Quote" >
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas purus lacinia commodo dictum. Quisque dolor felis, luctus ut orci ornare, eleifend aliquet lectus. Nam dignissim cursus felis sed vehicula. Morbi a egestas tellus.</p>
        <footer>
            <img src="https://placekitten.com/66/66?image=4" alt="Chaton en avatar">
            <span>Kitten Kat<br>Master of Universe</span>
        </footer>
    </blockquote>

</body>
</html>